	<!-- projects Section -->
    <!--<section id="projects" class="container content-section text-center"> -->
<section id="projects" class="container-fluid text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br>
            <br>
            <hr>
            <h2><span1>What I've Done</span1></h2>
            <hr>
        </div>
    </div>
    
     <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"><p><i><b>Current</b></i></p></div>
        <div class="col-lg-4"></div>
    </div>


    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"><i class="fab fa-microsoft"></i><br></div>
        <div class="col-lg-3 text-left">
            <p><span>Support Engineer, <i>since Winter 2016</i></span></p>
            I joined Microsoft in 2016 as a Microsoft Academy of College Hire (MACH) and currently work as a Support Engineer for Dynamics 365 (CRM). Before I joined, I hardly knew what CRM, SQL or even what Windows Server was. I have now supported Dynamics versions 4.0, 2011, 2013, 2015, 2016, and our most recent rebranding "Dynamics 365".
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2"><hr></div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"><i class="far fa-file-code"></i></div>
        <div class="col-lg-3 text-left">
            <p><span>aucarr.com, <i>started Winter 2019</i></span><a href="https://github.com/aecarr2/aecarr2.github.io" class="btn-sm"><i class="fab fa-github-square"></i></a></p> 
            I had been wanting to build my own website for a while now, however, I just had not got around to it and wasn't sure how I wanted to do it. I've done WordPress, etc. in the past but I was in the market for something new. Thanks to my colleague, Apurv, I was generously provided with the opportunity to pursue this via GitHub Pages and have learned so much so far. Thanks, Apurv! I highly recommend GitHub pages to anyone looking to create their own personal website.
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2"><hr></div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"><i class="fas fa-home"></i></div>
        <div class="col-lg-3 text-left">
            <p><span>Real Estate, <i>since Fall 2013</i></span></p>
            I have been investing in Real Estate since I was 21. My girlfriend and I bought our first house because we wanted to start investing in our future. Since then, we have continued to invest and have recently purchased our third property which we are currently renovating to make a short-term rental. One of my goals for this site is to share my Real Estate portfolio and experiences. I have learned a ton about Real Estate over the past few years and would like to share my knowledge with others interested in investing.
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2"><hr></div>
    </div>
    
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"><p><i><b>Prior</b></i></p></div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"><i class="fas fa-share-alt-square"></i></div>
        <div class="col-lg-3 text-left">
            <p><span>Synapse Studios, <i>2015</i></span></p>
            About a year before graduating college, I began my career in Technology at a small web development shop in the heart of Tempe: Synapse Studios. Here, I was able to further develop my skills in attention to detail, web apps, and documentation through manual testing. Beyond that, I was also able to learn a few things about JavaScript, npm, React, git and a few others. This was essentially the foundation of my career in web applications and I will never forget the good times I had at Synapse.
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2"><hr></div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"><i class="fas fa-book"></i></div>
        <div class="col-lg-3 text-left">
            <p><span>B.S.E. in Computer Engineering, <i>earned December 2015</i></span></p>
            My time at Arizona State is one I will never forget. There were many successes and failures which led me to where I am today and I am grateful for every single one. For me, engineering was very difficult as I didn't have any family background in engineering or any sort of technical foundation. I am the first person in my family to get an engineering degree. Looking back, it's one of the best decisions I have ever made and I wouldn't change a thing. In the end, I believe college is not just about what you learn through coursework but also what is learned through the commitment and the challenges that come along with it.
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2"><hr></div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3"><i class="fas fa-shopping-bag"></i></div>
        <div class="col-lg-3 text-left">
            <p><span>Safeway, <i>2007 - 2015</i></span></p>
            At 16 years old, I got my first job at Safeway (yes, the grocery store!). As irrelevant as it may be to my career in Technology, my time at Safeway was undoubtedly the foundation of my working career. In the seven years that I worked at Safeway, I went from Courtesy Clerk to Cashier to Produce Clerk, all throughout high school and college. By the time I left Safeway, I knew how to do everything my department manager knew how to do. After all that I learned and all the great people I met, it was time to start my career in Tech.
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div id="where" class="row">
        <div class="col-lg-8 col-lg-offset-2"><hr></div>
    </div>

</section>

