/* Custom styling */

p span{
    color: #219ab3;
}

#projects {
    background-color: #EEEEEE
}

h2 span {
    background: #ffffff;
    padding: 0 20px;
}

h2 span1 {
    background: #EEEEEE;
    padding: 0 20px;
}

h2 {
    display: table;
    white-space: nowrap;
}

h2:before,
h2:after {
    /* green 1px image repeated in browsers without linear-gradient */
    background: linear-gradient(to bottom, #000000, #000000) no-repeat center / 98% .25em;
    content: '';
    display: table-cell;
    width: 50%;
}

/* <!--Icon styling --> */ 

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fa-book {
    font-size: 100px;
}

.fa-file-code {
    font-size: 100px;
}
.fa-github-square{
    font-size: 25px;
}

.fa-home {
    font-size: 100px;
}

.fa-linkedin {
    font-size: 25px;
}

.fa-microsoft {
    font-size: 100px;
}

.fa-share-alt-square {
    font-size: 100px;
}

.fa-shopping-bag {
    font-size: 100px;
}
